<div class="flex mt-10">

  <div class="w-1/4">
    <div class="w-full max-w-xs">
      <app-details [data]="delivery_data"></app-details>
    </div>
  </div>

  <div class="w-2/4">
    <div class=" shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <app-map></app-map>
    </div>
  </div>

  <div class="w-1/4 ml-5">
    <div class="w-full max-w-xs">
      <div class="bg-white grid grid-cols-1 shadow-md rounded px-20 pt-6 pb-8 mb-4">
        <button [disabled]="!isPickUp" (click)="onPickUp()" class="rounded  text-center {{isPickUp ? 'hover:bg-blue-400' : 'disabled:opacity-75' }} py-2 font-extrabold text-lg border-blue-500 bg-blue-500 mb-3">Picked Up</button>
        <button [disabled]="!isInTransit" (click)="inTransit()" class="{{isInTransit ? 'hover:bg-amber-400' : 'disabled:opacity-75' }} rounded text-center py-2 font-extrabold text-lg border-amber-500 bg-amber-500 mb-3">In-Transit</button>
        <button [disabled]="!isDelivery" (click)="onDelivery()" class="{{isDelivery ? 'hover:bg-green-400' : 'disabled:opacity-75' }} rounded text-center py-2 font-extrabold text-lg border-green-500 bg-green-500 mb-3">Delivered</button>
        <button [disabled]="!isFailed" (click)="onFailed()" class="{{isFailed ? 'hover:bg-red-400' : 'disabled:opacity-75' }} rounded text-center py-2 font-extrabold text-lg border-red-500 bg-red-500">Failed</button>
      </div>
    </div>
  </div>

</div>

