<div class="shadow-md rounded mx-52 px-48 mt-10 pt-6 pb-8 mb-4">
<form class="grid grid-cols-1" #saveForm="ngForm" (ngSubmit)="savePackage(saveForm)">

  <div class="divide-y-2 grid grid-cols-1">
      <div class="text-gray-800 font-extrabold">From (Shipper)</div>
      <div class="">
        <div class="mb-2 mt-2">
          <div class="text-gray-800 font-light">Name <small class="font-extrabold text-red-600 text-sm">*</small></div>
          <input required class=" rounded py-2 w-full text-black border-2 px-2 hover:border-blue-400 " type="text" name="from_name" [ngModel]="playload.from_name"  />
        </div>

        <div class="mb-2">
          <div class="text-gray-800 font-light">Address <small class="font-extrabold text-red-600 text-sm">*</small> </div>

          <div class="rounded py-2 w-full text-black border-2 px-2 hover:border-blue-400">
            <ng-autocomplete
              [data]="from_data"
              [searchKeyword]="keyword"
              placeholder="Select location"
              (selected)='selectEvent($event)'
              (inputChanged)='getServerResponse($event)'
              [debounceTime]="600"
              [isLoading]="isLoadingResult"
              [minQueryLength]="2"
              (inputCleared)="searchCleared()"
              [itemTemplate]="itemTemplate"
              [notFoundTemplate]="notFoundTemplate">
            </ng-autocomplete>
            <small *ngIf="from_text_location" class="text-green-500 font-extrabold"> {{from_text_location}} </small>

            <ng-template #itemTemplate let-item>
              <a [innerHTML]="item.name"></a>
            </ng-template>

            <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>
          </div>
        </div>

      </div>
  </div>

  <div class="divide-y-2 mt-4 grid grid-cols-1">
    <div class="text-gray-800 font-extrabold">To (Recipient) </div>
    <div class="">
      <div class="mb-2 mt-2">
        <div class="text-gray-800 font-light">Name <small class="font-extrabold text-red-600 text-sm">*</small></div>
        <input class="rounded py-2 w-full text-black border-2 px-2 hover:border-blue-400 " type="text" name="to_name" [ngModel]="playload.to_name" />
      </div>

      <div class="mb-2">
        <div class="text-gray-800 font-light">Address <small class="font-extrabold text-red-600 text-sm">*</small></div>
        <div class="rounded py-2 w-full text-black border-2 px-2 hover:border-blue-400">
          <ng-autocomplete
            [data]="to_data"
            [searchKeyword]="keyword"
            placeholder="Select location"
            (selected)='selectEvent2($event)'
            (inputChanged)='getServerResponseShipper($event)'
            [debounceTime]="600"
            [isLoading]="isLoadingResult2"
            [minQueryLength]="2"
            (inputCleared)="searchCleared()"
            [itemTemplate]="itemTemplate2"
            [notFoundTemplate]="notFoundTemplate2">
          </ng-autocomplete>
          <small *ngIf="to_text_location" class="text-green-500 font-extrabold"> {{to_text_location}} </small>

          <ng-template #itemTemplate2 let-item>
            <a [innerHTML]="item.name"></a>
          </ng-template>

          <ng-template #notFoundTemplate2 let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
        </div>
      </div>

      </div>

  </div>

  <div class="divide-y-2 mt-4 grid grid-cols-1">
    <div class="text-gray-800 font-extrabold">Package information</div>
    <div>
      <div class="grid grid-cols-2 gap-2">
        <div class="mt-3">
          <label class="text-gray-800 font-light me-2">Height</label>
          <input class="rounded py-2 text-black w-full border-2 px-2 hover:border-blue-400 " type="number" name="height" [ngModel]="playload.height"  />
        </div>
        <div class="mt-3">
          <label class="text-gray-800 font-light me-2">Width</label>
          <input class="rounded py-2 text-black w-full border-2 px-2 hover:border-blue-400 " type="number" name="width" [ngModel]="playload.width"  />
        </div>
      </div>
      <div class="grid grid-cols-2 mt-2 gap-2">
        <div>
          <label class="text-gray-800 font-light me-2">Weight</label>
          <input class="rounded py-2 text-black w-full border-2 px-2 hover:border-blue-400 " type="number" name="weight" [ngModel]="playload.weight"  />
        </div>
        <div>
          <label class="text-gray-800 font-light me-2">Depth</label>
          <input class="rounded py-2 text-black w-full border-2 px-2 hover:border-blue-400 " type="number" name="depth" [ngModel]="playload.depth"  />
        </div>
      </div>
      <div class="grid grid-cols-1 mt-2 gap-2">
        <label class="text-gray-800 font-light">Description</label>
        <textarea class="rounded py-2 w-full text-black border-2 px-2 hover:border-blue-400 " type="text" name="description" [ngModel]="playload.description"  ></textarea>
      </div>
    </div>
  </div>

  <div class="justify-items-end flex place-content-end">
    <button class="rounded w-[200px]  bg-blue-500 mt-7 py-2 mb-80 text-white hover:bg-blue-400" type="submit">Sauvegader</button>
  </div>

</form>
</div>
