<header class="">
  <nav class="grid grid-cols-3 place-content-between p-6 flex-wrap bg-gray-900">

    <div>
      <div class="flex items-center flex-shrink-0 text-white mr-6">
        <span class="font-semibold text-xl text-green-400">
          TRACKER WEB
        </span>
      </div>
      <div class="block lg:hidden">
        <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
          <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
        </button>
      </div>
    </div>

    <div>
      <button (click)="webPackage()" routerLink="/web-tracker"  class="rounded text-center py-2 px-6 font-light text-white text-lg border-amber-500 bg-amber-500 hover:bg-amber-400 me-3">Web Tracker</button>
      <button (click)="webDriver()" routerLink="/web-driver" class="rounded text-center py-2 px-6 font-light text-white text-lg border-green-500 bg-green-500 hover:bg-green-400 me-3">Web Driver</button>
      <button (click)="webAdmin()" routerLink="/web-admin" class="rounded text-center py-2 px-3 font-light text-white text-lg border-green-500 bg-blue-500 hover:bg-blue-400 ">Web Admin</button>
    </div>

    <form *ngIf="showSearchInput" #searchForm="ngForm" (ngSubmit)="seach(searchForm)">
      <div class="flex g:items-center lg:w-auto">
          <input [ngModel]="inputSearch" name="inputSearch"  type="text"  placeholder="{{textSearch}}" class="inline-block w-full text-sm px-4 text-white py-2 leading-none border rounded border-white mt-4 lg:mt-0 bg-transparent">
          <button type="submit" class=" bg-green-700 inline-block  text-center text-sm px-4 py-4 leading-none border rounded text-white border-green-600 mt-4 lg:mt-0">
            {{btnSearch}}
          </button>
      </div>
    </form>

  </nav>
</header>

<router-outlet></router-outlet>

