<div class=" mt-10">


  <div class="bg-white  place-content-between border-2 mx-[90px] rounded px-8 pt-6 pb-8 mb-4">
    <div class="flex justify-end">
      <p>
        <a href="/create-package"  class="rounded py-3 w-[200px] text-center px-6 font-light text-white text-lg border-amber-500 bg-slate-500 hover:bg-slate-400 me-3">Create Package</a>
      </p>
      <p>
        <a href="/create-delivery"  class="rounded py-3 w-[200px] text-center  px-6 font-light text-white text-lg border-green-500 bg-slate-500 hover:bg-slate-400 me-3">Create Delivery</a>
      </p>
    </div>

    <div class="mt-5">
      <h2 class="block text-gray-700 text-sm font-bold mb-2">
        Package List
      </h2>
      <div class="mb-4">
        <table class="table-fixed   border-collapse border border-slate-400 p-3">
          <thead>
          <tr>
            <th class="border border-slate-300 p-3">#</th>
            <th class="border border-slate-300 p-3">From</th>
            <th class="border border-slate-300 p-3">To</th>
            <th class="border border-slate-300 p-3">Address, Location (Shipper)</th>
            <th class="border border-slate-300 p-3">Address, Location (Recipient)</th>
            <th class="border border-slate-300 p-3">Package</th>
            <th class="border border-slate-300 p-3">Description Package</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of packages ">
            <td class="border border-slate-300 p-3 {{item.active_delivery_id ? 'bg-red-50' : ''}} ">{{item.package_id}}</td>
            <td class="border border-slate-300 p-3 {{item.active_delivery_id ? 'bg-red-50' : ''}}">{{item.from_name}}</td>
            <td class="border border-slate-300 p-3 {{item.active_delivery_id ? 'bg-red-50' : ''}}">{{item.to_name}}</td>
            <td class="border border-slate-300 p-3 {{item.active_delivery_id ? 'bg-red-50' : ''}}">{{item.from_address}}</td>
            <td class="border border-slate-300 p-3 {{item.active_delivery_id ? 'bg-red-50' : ''}}">{{item.to_address}}</td>
            <td class="border border-slate-300 p-3 {{item.active_delivery_id ? 'bg-red-50' : ''}}">
              <span *ngIf="item.height" class=" rounded mb-1 p-1 bg-blue-500 text-center text-white font-extrabold text-[8px]">
                Height : {{item.height}}
              </span>
              <span *ngIf="item.width" class="rounded mb-8 p-1 bg-blue-500 text-center text-white font-extrabold text-[8px]">
                Width : {{item.width}}
              </span>
              <span *ngIf="item.weight" class="rounded mb-8 p-1 bg-blue-500 text-center text-white font-extrabold text-[8px]">
                Weight : {{item.weight}}
              </span>
              <span *ngIf="item.depth" class="rounded mb-8 p-1 bg-blue-500 text-center text-white font-extrabold text-[8px]">
                Depth : {{item.depth}}
              </span>
            </td>
            <td class="border border-slate-300 p-3 {{item.active_delivery_id ? 'bg-red-50' : ''}}">{{item.description}}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <h2 class="block mt-20 text-gray-700 text-sm font-bold mb-2">
        Delivery List
      </h2>
      <div class="mb-4">
        <table class="table-fixed   border-collapse border border-slate-400 p-3">
          <thead>
          <tr>
            <th class="border border-slate-300 p-3">Delivery ID</th>
            <th class="border border-slate-300 p-3">Package ID</th>
            <th class="border border-slate-300 p-3">Package Name</th>
            <th class="border border-slate-300 p-3">PickUp At</th>
            <th class="border border-slate-300 p-3">Start At</th>
            <th class="border border-slate-300 p-3">End At</th>
            <th class="border border-slate-300 p-3">Location</th>
            <th class="border border-slate-300 p-3">Status</th>
          </tr>
          </thead>
          <tr *ngFor="let item of deliveries ">
            <td class="border border-slate-300 p-3">{{item.delivery_id}}</td>
            <td class="border border-slate-300 p-3">{{item.package.package_id}}</td>
            <td class="border border-slate-300 p-3">{{item.package.from_name}}</td>
            <td class="border border-slate-300 p-3">{{item.pickup_time | date:'short' || "-"}}</td>
            <td class="border border-slate-300 p-3">{{item.start_time | date:'short' || "-"}}</td>
            <td class="border border-slate-300 p-3">{{item.end_time | date:'short' || "-" }}</td>
            <td class="border border-slate-300 p-3 grid "><span>Lng : {{item.location?.lng || "-" }}</span> <span>Lat : {{item.location?.lat}}</span></td>
            <td class="border border-slate-300 p-3 text-center">
              <span class="rounded-full shadow  {{item.status == 'Failed' ? 'shadow-red-400 bg-red-700' : 'shadow-green-400 bg-green-700'}}  px-8 py-2 text-white font-semibold  text-[10px]">{{item.status}}</span>
            </td>
          </tr>
        </table>
      </div>
    </div>
</div>


</div>
