<div class="flex mt-10">

  <div class="w-1/4">
    <div class="w-full max-w-xs">
      <app-details [data]="package_data" ></app-details>
    </div>
  </div>

  <div class="w-3/4">
    <div class="shadow-md rounded me-2 px-8 pt-6 pb-8 mb-4">
      <app-map></app-map>
    </div>
  </div>

</div>
