<div *ngIf="data; else elseBlock" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
  <h2 class="block text-gray-700 text-sm font-bold mb-2">
    Package detail
  </h2>
  <div  class="mb-4">
    <p class="mb-2"><strong>Form</strong> : {{data?.from_name || data?.package?.from_name }}</p>
    <p class="mb-2"><strong>To</strong> : {{data?.to_name || data?.package?.to_name}}</p>
    <p class="mb-2"><strong class="font-extrabold text-red-600">From address</strong> : {{data?.from_address || data?.package?.from_address}}</p>
    <p class="mb-2"><strong class="font-extrabold text-green-600">To address</strong> : {{data?.to_address || data?.package?.to_address}}</p>
    <p class="mb-5"><strong>Description</strong> : {{data?.description || data?.package?.description ||  "-" }}</p>
  </div>


  <div *ngIf="data">
    <h2 class="mt-5 block text-gray-700 text-sm font-bold mb-4">
      Delivery detail
    </h2>
    <div class="mb-4">
      <p *ngIf="data?.delivery?.location || data?.location" class="mb-2 bg-gray-100 p-2">
        <strong class="font-extrabold text-yellow-500">Current Location</strong> : <br>
        <strong>Longitude </strong> : {{data?.delivery?.location?.lng || data?.location?.lng || '-'}} <br>
        <strong>Latitude </strong> : {{data?.delivery?.location?.lat || data?.location?.lat || '-'}}
      </p>

      <p class="mb-2"><strong>PickUp Time</strong> : {{data?.delivery?.pickup_time || data?.pickup_time | date:'short' }}</p>
      <p class="mb-2"><strong>Start Time</strong> : {{data?.delivery?.start_time || data?.start_time | date:'short'}}</p>
      <p class="mb-2"><strong>End Time</strong> : {{data?.delivery?.end_time || data?.end_time | date:'short' }}</p>
    </div>
  </div>


</div>

<ng-template #elseBlock>
  <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <p>Aucune donnée !</p>
  </div>
</ng-template>
