<div class="shadow-md rounded mx-52 px-48 mt-10 pt-6 pb-8 mb-4">
<form class="grid grid-cols-1" #saveForm="ngForm" (ngSubmit)="saveDelivery(saveForm)">

  <div class="divide-y-2 grid grid-cols-1">
      <div class="text-gray-800 font-extrabold">Select package</div>
      <div class="">

        <div class="mb-2 mt-2">
          <label for="package_id" class="text-gray-800 font-light">Package</label>
          <select id="package_id" required name="package_id"  [(ngModel)]="package_id" class="rounded border-2 w-full py-2 px-2 text-black hover:border-blue-400">
            <option value="" disabled>Choose a package</option>
            <option *ngFor="let item of PACKAGES" [ngValue]="item.id">
              {{ item.name }}
            </option>
          </select>
        </div>

<!--        <div class="mb-2">-->
<!--          <div class="grid-cols-2 grid gap-2 place-content-between mt-2">-->
<!--            <div>-->
<!--              <div class="text-gray-800 font-light">Start time</div>-->
<!--              <input required class="rounded py-2 w-full text-black border-2 px-2 hover:border-blue-400"  type="datetime-local" name="start_time"  [(ngModel)]="start_time"/>-->
<!--            </div>-->
<!--            <div>-->
<!--              <div class="text-gray-800 font-light">PickUp time</div>-->
<!--              <input required class="rounded py-2 w-full text-black border-2 px-2 hover:border-blue-400 " type="datetime-local" name="pickup_time"  [(ngModel)]="pickup_time"/>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->


      </div>
  </div>


  <div class="justify-items-end flex place-content-end">
    <button class="rounded w-[200px]  bg-blue-500 mt-7 py-2 mb-80 text-white hover:bg-blue-400" type="submit">Save</button>

  </div>

</form>
</div>
